---
import Layout from '../layouts/Layout.astro';
import { Header, Skills, Hero, Projects, AboutMe, Footer } from '../sections';
---

<Layout title="Portfolio">
  <Header />
  <main>
    <Hero />
    <div class="flex flex-col gap-48">
      <Skills />
      <Projects />
      <AboutMe />
    </div>
	</main>
  <Footer />
</Layout>
