---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro'
import Skills from '../sections/Skills.astro'
---

<Layout title="Portfolio">
  <Header />
  <main class="container mx-auto">
    <Skills />
	</main>
</Layout>
