---
interface AstroProps {
  href: string
  title: string
}

const {href, title}: AstroProps = Astro.props
---

<a 
  href={href}
  class="border-b-2 border-white hover:border-black hover:cursor-pointer transition-colors duration-500"
>
  {title}
</a>
