---
interface Props {
 link: string
 target?: boolean
}

const { link,target } = Astro.props
---

<a
  target={target ? "_blank" : ""}
  href={link}
  class="flex items-center justify-center bg-black border-[1px] border-black text-white rounded-full w-32 h-12 hover:bg-zinc-300 hover:text-black hover:border-zinc-300 transition-colors">
  <slot />
</a>
