---
import { Section, Title} from "../components"
--- 

<Section id="sobre-mi">
  <Title tag="Explora" title="Sobre Mi" />
  <div data-aos="fade-up" class="flex flex-col gap-4 px-4 md:px-0 lg:w-4/6 tracking-wide text-pretty">
    <p>
    Soy estudiante de <strong>Ingeniería de Software</strong> en la <a target="_blank
    " href="https://unmsm.edu.pe/"> <strong>Universidad Nacional Mayor de San Marcos</strong></a>, con 21 años y una fuerte inclinación por la tecnología. Desde temprana edad he sido <strong>autodidacta</strong>, siempre buscando aprender nuevas cosas.
    </p>
    <p>
    A lo largo de mi formación, he adquirido experiencia trabajando en proyectos que van desde el desarrollo de <strong>aplicaciones web</strong> y móviles hasta la gestión de bases de datos y arquitecturas escalables. Mi enfoque principal está en crear soluciones que no solo sean eficientes, sino también fáciles de usar y mantener. He desarrollado proyectos en <strong>React, Go, TypeScript, Node.js</strong>, y otras tecnologías que reflejan mi capacidad para adaptarme rápidamente a diferentes entornos de trabajo.
    </p>
  </div>
</Section>
