---
import {PrimaryLinkButton, SecundaryLinkButton} from "../components"
import { LinkedinIcon, GithubIcon } from "../icons"
---

<section class="min-h-svh flex items-center justify-center gap-20 px-12 lg:px-0">
  <!--<div class="size-80 hidden lg:block">-->
  <!--  <img src="" alt="Diego Salazar" class="bg-black rounded-full size-full object-cover" />-->
  <!--</div>-->
  <div 
    data-aos="fade-up"
    class="flex flex-col items-center w-[520px] gap-8"
  >
    <div class="text-center">
      <small>
        Hello, I'm
      </small>
      <h2 class="text-4xl font-bold">Diego Salazar</h1>
    </div>
    <p class="text-center text-xl font-medium text-pretty">
      Estudiante de Ingeniería de Software de Lima, Perú 🇵🇪. Especializado en desarrollo de aplicaciones web.
    </p>
    <div class="text-sm font-bold flex gap-6">
      <SecundaryLinkButton
        link=""
        target
      >
        Download CV
      </SecundaryLinkButton>
      <PrimaryLinkButton target link="mailto:diegoalbertosalzar177@gmail.com">Contact Me</PrimaryLinkButton>
    </div>
    <div class="flex gap-6">
      <a 
         aria-label="Linkedin"
         href="https://www.linkedin.com/in/diego-salazar-15223732b/" 
         target="_blank" 
         class="hover:scale-110 transition-transform"
      >
        <LinkedinIcon size={32} />
      </a>
        <a
        aria-label="Github"
        href="https://github.com/ProtoSG" 
        target="_blank" 
        class="hover:scale-110 transition-transform"
      >
        <GithubIcon size={32} />
      </a>
    </div>
  </div>
</section>
