---
import { Section, Title, ItemProject } from "../components"
import { ReactIcon, TailwindIcon, TypeScriptIcon, NodeJsIcon } from "../icons"
import PersonalFinanceDashboard from "../assets/PersonalFinanceDashboard.webp"
import CryptocurrentTracker from "../assets/cryptocurrent-tracker.webp"
import RootsMarket from "../assets/rootsMarket.webp"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#3B8899] text-white",
    icon: ReactIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#2F74C0] text-white",
    icon: TypeScriptIcon,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-[#509941] text-white",
    icon: NodeJsIcon,
  },
}

const PROJECTS = [
  {
    title: "Personal Finance Dashboard",
    description: "Personal Finance Dashboard es una aplicación web que permite a los usuarios rastrear sus ingresos y gastos de manera visual e intuitiva. La aplicación incluye gráficos interactivos, un formulario para agregar transacciones, y un resumen financiero general. El objetivo es proporcionar una herramienta sencilla y efectiva para gestionar tus finanzas personales.",
    link: "https://protosg.github.io/personalFinanceDashboard/",
    github: "https://github.com/ProtoSG/personalFinanceDashboard",
    image: PersonalFinanceDashboard,
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Cryptocurrency Tracker",
    description: "Cryptocurrency Tracker es una aplicación web diseñada para rastrear en tiempo real los precios y tendencias de diversas criptomonedas. Proporciona una interfaz amigable y dinámica, utilizando tecnologías modernas como React, TypeScript, y Vite para un rendimiento óptimo.",
    link: "https://protosg.github.io/cryptocurrency-tracker/",
    github: "https://github.com/ProtoSG/cryptocurrency-tracker",
    image: CryptocurrentTracker,
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Roots Market",
    description: "Roots Market es una tienda de productos artesanales peruanos, donde puedes encontrar una amplia gama de productos, además puedes registrarte como artesano y vender tus productos. El frontend fue desarrollado con React, TypeScript, Tailwind CSS, mientras que el backend fue desarrollado con NodeJS, Express y MySQL.",
    link: "https://roots-market.vercel.app",
    github: "https://github.com/ProtoSG/roots-market",
    image: RootsMarket,
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT, TAGS.NODEJS],
  }
]
---

<Section id="proyectos">
  <Title tag="Explorar Mis Recientes" title="Proyectos" />
  <div class="relative wrap overflow-hidden px-2 md:p-10  h-full w-full">
    <div class="hidden md:block border-2-2 absolute border-opacity-20 border-gray-700 h-full border lg:left-1/2"></div>
    {
      PROJECTS.map((project, index) => (
      <ItemProject left={index % 2 === 0} index={index + 1} project={project} />
      ))
    }
    </div>
</Section>
