---
import Card from "../components/Card.astro"
import { TypeScriptIcon, ReactIcon, TailwindIcon, AstroIcon, NodeJsIcon, MySqlIcon, GolangIcon } from "../icons"
import { Section, Title } from "../components"

const skills = [
  {
    icon: TypeScriptIcon,
    name: "TypeScript",
    color: "#2F74C0"
  },
  {
    icon: ReactIcon,
    name: "React",
    color: "#00D1F7"
  },
  {
    icon: TailwindIcon,
    name: "Tailwind",
    color: "#00D1F7"
  },
  {
    icon: AstroIcon,
    name: "Astro",
    color: "#FF5F27"
  },
  {
    icon: NodeJsIcon,
    name: "NodeJs",
    color: "#509941"
  },
  {
    icon: MySqlIcon,
    name: "MySql",
    color: "#00718B"
  },
  {
    icon: GolangIcon,
    name: "Golang",
    color: "#0091D5"
  },
]

---

<Section id="skills">
  <Title tag="Explora Mis" title="Skills" />
  <div class="flex gap-8 w-full items-center flex-wrap justify-center ">
    {skills.map((skill) => (
    <Card>
      <div class="border hover:size-32 border-zinc-300 size-28 rounded-2xl flex flex-col items-center justify-center gap-5  shadow-lg hover:shadow-2xl bg-white  transition-all duration-500  group">
        <div class="transition-all duration-500 group-hover:text-[color:var(--icon-color)] group-hover:scale-125"
             style={`--icon-color: ${skill.color}`}>
          <skill.icon size={32} />
        </div>
        <span class="font-semibold text-black group-hover:scale-125 transition-transform duration-500">{skill.name}</span>
      </div>
    </Card>
    ))}
  </div>
</Section>
